<div class="highlight">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" ng-repeat="chart in vm.model.charts" ng-cloak>
                <div class="panel-heading">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="chart.enabled"> Activate {{chart.description}} Chart
                        </label>
                    </div>
                </div>
                <div class="panel-body" ng-disabled="!chart.enabled">
                    <label>
                        Charts type:
                        <select ng-model="chart.chartType" ng-disabled="!chart.enabled">
                            <option value="pie">pie</option>
                            <option value="bar">bar</option>
                            <option value="line">line</option>
                            <option value="point">point</option>
                            <option value="area">area</option>
                        </select>
                    </label>
                    <label>
                        Dates:
                        <select ng-model="chart.dateSelected" ng-options="data.date for data in chart.originalData" ng-change="vm.updateDate(chart)" ng-disabled="!chart.enabled">
                            <option value="">Select date</option>
                        </select>
                    </label>
                    <div id="aggregate-funtions" ng-show="!chart.dateSelected">
                        <label class="radio-inline">
                            <input type="radio" name="aggregateFns" id="aggregateFnDefault" ng-value="aggregateFnDefault" ng-model="vm.aggregateFn" ng-click="vm.setDefaultData(chart)" ng-disabled="!chart.enabled"> Default
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="aggregateFns" id="aggregateFnMin" ng-value="aggregateFnMin" ng-model="vm.aggregateFn" ng-click="vm.setMinData(chart)" ng-disabled="!chart.enabled"> Min
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="aggregateFns" id="aggregateFnAvg" ng-value="aggregateFnAvg" ng-model="vm.aggregateFn" ng-click="vm.setAvgData(chart)" ng-disabled="!chart.enabled"> Avg
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="aggregateFns" id="aggregateFnMax" ng-value="aggregateFnMax" ng-model="vm.aggregateFn" ng-click="vm.setMaxData(chart)" ng-disabled="!chart.enabled"> Max
                        </label>
                    </div>
                    <div ac-chart="chart.chartType" ac-data="chart.data" ac-config="vm.config"></div>
                </div>
            </div>
        </div>
    </div>
</div>

